a,
h1,
h2,
h3,
p,
body {
	margin: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: Roboto, sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

.header {
	background: url("images/intro.jpg");
	background: #EFEFEF;
}

.wrap--header {
	max-width: 1920px;
	width: 100%;
	background: rgba(0, 0, 0, 0.46);
	position: relative;
}

.header-menu {
	padding: 12px 10px;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.header-menu__nav-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.header-menu__nav-item {
	padding: 10px 40px;
}

.header-menu__nav-link {
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	text-decoration: none;
}

.header-menu__logo {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #F2C94C;
	text-decoration: none;
}

.header-menu__link {
	margin: 0 40px;
	padding: 12px 24px;
	background: #F2C94C;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	text-decoration: none;
	white-space: nowrap;
}

.header__intro {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 307px;
	padding-bottom: 372px;
	background: url("images/intro.jpg") no-repeat;
	background-size: cover;
	position: relative;
}

.header__intro:after {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: rgba(0,0,0, 0.46);
}

.header__intro-title {
	font-weight: 500;
	font-size: 64px;
	line-height: 52px;
	color: #FFFFFF;
	margin-bottom: 64px;
	z-index: 1;
}

.header__intro-subtitle {
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
	text-align: center;
	max-width: 440px;
	width: 100%;
	margin-bottom: 32px;
	z-index: 1;
}

.header__intro-link {
	padding: 21px 24px;
	background: #F2C94C;
	border: none;
	border-radius: 5px;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	max-width: 279px;
	width: 100%;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	z-index: 1;
}

.page {
	padding-top: 70px;
}

.page__header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.page__title {
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #000000;
	margin-bottom: 25px;
}

.page__subtitle {
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #000000;
	max-width: 800px;
	width: 100%;
	margin-bottom: 73px;
}

.page__list,
.products__list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.page__item,
.products__item {
	padding: 15px;
}

.card{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 370px;
	width: 100%;
	text-align: left;
}

.card__inner {
	height: 370px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card__text {
	font-size: 24px;
	line-height: 33px;
	color: #000000;
	margin-bottom: 12px;
}

.card__link {
	font-size: 14px;
	line-height: 19px;
	text-decoration-line: underline;
	color: #000000;
	width: 100%;
}

.page__product {
	padding: 120px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.page__product-content {
	max-width: 461px;
	width: 100%;
	margin: 0 46px;
}

.page__product-title {
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	color: #000000;
}

.page__product-text {
	font-size: 20px;
	line-height: 28px;
	color: #000000;
}

.partners {
	background: #F2C94C;
}

.wrap--partners {
	max-width: 720px;
	width: 100%;
	padding-top: 48px;
	padding-bottom: 53px;
	margin: 0 auto;
}

.partners__title {
	font-size: 24px;
	line-height: 34px;
	color: #000000;
	margin-bottom: 12px;
	text-align: center;
}

.partners__list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.partners__item {
	padding: 20px;
}

.footer {
	background: #333333;
}

.wrap--footer {
	max-width: 1060px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: start;
	padding-top: 121px;
	padding-bottom: 119px;
}

.footer__name {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #F2C94C;
	margin-bottom: 19px;
}

.footer__years,
.footer__privacy {
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	margin-bottom: 13px;
}

.footer__containers {
	display: flex;
	justify-content: space-between;
	align-items: start;
	max-width: 660px;
	width: 100%;
	flex-wrap: wrap;
}

.footer__container-title {
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	margin-bottom: 25px;
}

.footer__container-item {
	margin-bottom: 16px;
}

.footer__container-link {
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	text-decoration: none;
}

.link:hover {
	background: #FEDE7D;
	color: #333333;
}

.link:active {
	background: #F9C21C;
	color: #333333;
}

.wrap--products {
	padding-top: 68px;
	padding-bottom: 90px;
}

.products__title {
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #000000;
	margin-bottom: 25px;
}

.products {
	background: #F2F2F2;
}

.products__item {
	margin-bottom: 22px;
}

.card__inner {
	background: #ffffff;
}

.products__subtitle {
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #000000;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 73px;
}

.products__list {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.details__header {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-wrap: wrap;
	padding-top: 66px;
	padding-bottom: 120px;
	background: #F2F2F2;
}

.details__container {
	max-width: 670px;
}

.details__list {
	list-style: square outside;
}

.details__item {
	padding-left: 28px;
	position: relative;
}

.details__item:before {
	position: absolute;
	content: '';
	width: 11px;
	height: 11px;
	top: 50%;
	transform: translate(0, -50%);
	left: 0;
	background: #000000;
	border-radius: 50%;
}

.details__title {
	font-weight: bold;
	font-size: 48px;
	line-height: 140.62%;
	color: #000000;
	margin-bottom: 61px;
}

.details__subtitle {
	font-size: 20px;
	line-height: 28px;
	color: #000000;
	margin-bottom: 25px;
}

.details__list {
	margin-bottom: 54px;
}

.details__text {
	font-size: 20px;
	line-height: 28px;
	color: #000000;
	margin-bottom: 24px;
}

.details__button {
	border: none;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #333333;
	background: #F2C94C;
	border-radius: 5px;
	padding: 21px 25px;
	max-width: 311px;
	width: 100%;
	margin-bottom: 9px;
	cursor: pointer;
}

.details__value {
	padding: 130px 0;
	max-width: 1167px;
	width: 100%;
	margin: 0 auto;
}

.details__value-title {
	font-weight: bold;
	font-size: 48px;
	line-height: 140.62%;
	color: #000000;
	margin-bottom: 19px;
}

.details__table {
	margin: 0 auto;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 93px;
}

.details__table-cell {
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	font-weight: 400;
	border: 1px solid rgb(196,196,196);
}

.details__table-head {
	background: #F2F2F2;
}

.details__table-head .details__table-cell {
	font-weight: 500;
}

.details__table-cell {
	width: 26%;
	text-align: start;
	padding-left: 13px;
}

.details__table-cell + .details__table-cell {
	width: 74%;
}

.details__table-head .details__table-cell:first-of-type {
	text-align: center;
	padding-left: 0;
}

.details__value-button {
	border: none;
	background: #F2C94C;
	border-radius: 5px;
	padding: 21px 24px;
	max-width: 231px;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.login {
	padding-top: 264px;
	padding-bottom: 284px;
}

.login__title {
	font-size: 20px;
	line-height: 28px;
	color: #000000;
	max-width: 422px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 47px;
}

.login__fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.login__email,
.login__password {
	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 5px;
	font-size: 20px;
	line-height: 28px;
	color: rgba(0, 0, 0, 0.5);
	max-width: 360px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 15px;
	padding-left: 25px;
}

.login__email:hover,
.login__password:hover {
	border: 1px solid #F2C94C;
	color: #333333;
}

.login__email:active,
.login__password:active {
	border: 1px solid #EF0000;
	color: rgba(0, 0, 0, 0.5);
}

.login__email {
	margin-bottom: 16px;
}

.login__password {
	margin-bottom: 24px;
}

.login__button {
	background: #000000;
	border-radius: 5px;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	padding: 21px 25px;
	max-width: 365px;
	width: 100%;
	cursor: pointer;
}

.login__button:hover {
	background: #363636;
}

.login__button:active {
	background: #000000;
}